.fixed .column-nlingual {
  width: 15%; }
  .fixed .column-nlingual ul {
    margin: 5px 0 0; }
  .fixed .column-nlingual li {
    margin: 0 0 3px; }

.nl-heading {
  font-size: 1em;
  margin: 1em 0 .5em; }

.nl-field label {
  *zoom: 1;
  display: block;
  padding: 3px 0;
  margin: 0 0 5px; }
  .nl-field label:after {
    content: "";
    display: table;
    clear: both; }
.nl-field .button {
  float: right;
  margin: -3px 0; }
.nl-field select {
  clear: both;
  display: block;
  width: 100%; }

.nl-language-field label {
  font-weight: bold; }

.nl-translation-field {
  margin: 10px 0 5px; }

.nl-settings-field h4 {
  color: #666;
  margin: 5px 0 .5em; }
.nl-settings-field .description {
  font-weight: 300; }

.nl-settings-notice {
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  border: 1px solid #ddd; }

.nl-section-content h4 {
  padding-top: 15px; }
  .nl-section-content h4 input[type="checkbox"] {
    margin-left: .5em;
    opacity: .25;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }
  .nl-section-content h4:hover input[type="checkbox"] {
    opacity: 1; }

.nl-previews {
  display: inline-block;
  padding: 2px 5px;
  margin: .5em 0 0;
  border: 1px solid #ddd;
  background: #f7f7f7;
  font-style: normal; }

.nl-preview {
  color: #0073aa; }

.form-field .nl-localizable {
  display: block; }
  .form-field .nl-localizable input[type="text"],
  .form-field .nl-localizable input[type="password"],
  .form-field .nl-localizable input[type="email"],
  .form-field .nl-localizable input[type="number"],
  .form-field .nl-localizable input[type="tel"],
  .form-field .nl-localizable input[type="url"],
  .form-field .nl-localizable input[type="search"],
  .form-field .nl-localizable textarea {
    display: block; }
  .form-field .nl-localizable .nl-localizer {
    float: left; }
  .form-field .nl-localizable + p {
    clear: left; }

.nl-localizer {
  margin: 1px;
  display: inline-block;
  vertical-align: top;
  background: #eee;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  *zoom: 1;
  -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08); }
  .nl-localizer:after {
    content: "";
    display: table;
    clear: both; }
  .nl-localizer:hover {
    border-color: #999; }

.nl-localizer-toggle,
.nl-localizer-option {
  cursor: pointer;
  float: left;
  height: 21px;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 2px 0;
  -moz-transition: color 0.3s, background 0.3s, max-width 0.3s ease-out;
  -o-transition: color 0.3s, background 0.3s, max-width 0.3s ease-out;
  -webkit-transition: color 0.3s, background 0.3s, max-width 0.3s ease-out;
  transition: color 0.3s, background 0.3s, max-width 0.3s ease-out; }

.nl-localizer-toggle {
  width: 28px;
  color: #555; }
  .nl-localizer-toggle:before {
    -webkit-font-smoothing: antialiased;
    content: '\f326';
    font-family: 'dashicons';
    font-size: 20px;
    line-height: 20px; }

.nl-localizer-option {
  font-size: 14px;
  max-width: 0;
  -moz-box-shadow: inset 1px 0 0 #ccc;
  -webkit-box-shadow: inset 1px 0 0 #ccc;
  box-shadow: inset 1px 0 0 #ccc; }
  .nl-localizer-option .nl-option-text {
    font-style: normal;
    padding: 0 5px 0 6px; }
  .nl-localizer-option:hover, .nl-localizer-option.nl-current {
    color: #32373c; }
  .nl-localizer-option:hover {
    background: #f7f7f7; }
  .nl-localizer:hover .nl-localizer-option.nl-current {
    color: #00a0d2; }
  .nl-localizer:hover .nl-localizer-option, .nl-localizer-option.nl-current {
    max-width: 150px; }

.nl-translations-manager,
.nl-bulk-language-manager {
  padding: 5px 0 0; }

.nl-set-language .title {
  font-weight: bold; }

#nlingual-synchronizer-form .nl-inputlist {
  *zoom: 1; }
  #nlingual-synchronizer-form .nl-inputlist:after {
    content: "";
    display: table;
    clear: both; }
  #nlingual-synchronizer-form .nl-inputlist label {
    margin-right: 1.5em !important; }
  #nlingual-synchronizer-form .nl-inputlist br {
    display: none; }

#nl_language_controls {
  margin: 2em 0 1em; }
  #nl_language_controls select, #nl_language_controls button {
    margin: 0; }

#nlingual_languages tr {
  opacity: 1;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  #nlingual_languages tr.todelete {
    opacity: 0.5; }
#nlingual_languages th {
  white-space: nowrap; }
  #nlingual_languages th.nl-language-list_order {
    font: 0/0 a; }
#nlingual_languages input[type="text"] {
  display: block;
  width: 100%;
  height: 27px; }
#nlingual_languages input[type="checkbox"] {
  margin: 6px 0; }
#nlingual_languages .nl-language-list_order,
#nlingual_languages .nl-language-slug,
#nlingual_languages .nl-language-locale_name,
#nlingual_languages .nl-language-iso_code,
#nlingual_languages .nl-language-active,
#nlingual_languages .nl-language-delete {
  text-align: center; }
#nlingual_languages .nl-language-locale_name input,
#nlingual_languages .nl-language-iso_code input,
#nlingual_languages .nl-language-slug input {
  font-family: 'Courier New', monospace;
  text-align: center; }
#nlingual_languages .nl-language-list_order {
  width: 30px;
  padding: 0; }
  #nlingual_languages .nl-language-list_order .handle {
    cursor: pointer;
    padding: 12px 10px; }
#nlingual_languages .nl-language-iso_code {
  width: 30px; }
#nlingual_languages .nl-language-slug,
#nlingual_languages .nl-language-short_name {
  width: 100px; }
#nlingual_languages .nl-language-locale_name {
  width: 60px; }
#nlingual_languages .nl-language-direction {
  width: 100px;
  text-align: center; }
  #nlingual_languages .nl-language-direction label {
    margin: 4px 4px 0 0;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
#nlingual_languages .nl-language-active,
#nlingual_languages .nl-language-delete {
  width: 60px; }
