#nLingual_languages{
	margin-top: 10px;
}

#nLingual_languages input[type="text"]{
	display: block;
	width: 99%;
}

#nLingual_languages tbody tr{
	background: #f9f9f9;
}

#nLingual_languages tbody td{
	padding: 6px 7px 4px;
}

#nLingual_languages .language-default,
#nLingual_languages .language-slug,
#nLingual_languages .language-iso,
#nLingual_languages .language-list_order,
#nLingual_languages .language-active,
#nLingual_languages .language-delete{
	text-align: center;
}

#nLingual_languages .language-default{
	width: 70px;
}
#nLingual_languages .language-slug,
#nLingual_languages .language-iso,
#nLingual_languages .language-list_order,
#nLingual_languages .language-active,
#nLingual_languages .language-delete{
	width: 50px;
}

.inline-edit-col .nL_translations{
	max-width: 80%;
	width: 500px;
}