.fixed .column-nlingual {
  width: 15%; }
  .fixed .column-nlingual ul {
    margin: 5px 0 0; }
  .fixed .column-nlingual li {
    margin: 0 0 3px; }

.nl-heading {
  font-size: 1em;
  margin: 1em 0 .5em; }

.nl-field label {
  *zoom: 1;
  display: block;
  padding: 3px 0;
  margin: 0 0 5px; }
  .nl-field label:after {
    content: "";
    display: table;
    clear: both; }
.nl-field .button {
  float: right;
  margin: -3px 0; }
.nl-field select {
  clear: both;
  display: block;
  width: 100%; }

.nl-language-field label {
  font-weight: bold; }

.nl-translation-field {
  margin: 10px 0 5px; }

.nl-settings-field h4 {
  color: #666;
  margin: 5px 0 .5em; }

.nl-section-content h4 {
  padding-top: 15px; }
  .nl-section-content h4 input[type="checkbox"] {
    margin-left: .5em;
    opacity: .25;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }
  .nl-section-content h4:hover input[type="checkbox"] {
    opacity: 1; }

#nlingual-sync-form .nl-inputlist {
  *zoom: 1; }
  #nlingual-sync-form .nl-inputlist:after {
    content: "";
    display: table;
    clear: both; }
  #nlingual-sync-form .nl-inputlist label {
    margin-right: 1.5em !important; }
  #nlingual-sync-form .nl-inputlist br {
    display: none; }

#nlingual_languages th {
  white-space: nowrap; }
#nlingual_languages input[type="text"] {
  display: block;
  width: 100%;
  height: 27px; }
#nlingual_languages input[type="checkbox"] {
  margin: 6px 0; }
#nlingual_languages .nl-lang-slug,
#nlingual_languages .nl-lang-locale_name,
#nlingual_languages .nl-lang-iso_code,
#nlingual_languages .nl-lang-active,
#nlingual_languages .nl-lang-actions {
  text-align: center; }
#nlingual_languages .nl-lang-locale_name input,
#nlingual_languages .nl-lang-iso_code input,
#nlingual_languages .nl-lang-slug input {
  font-family: monospace;
  text-align: center; }
#nlingual_languages .nl-lang-slug,
#nlingual_languages .nl-lang-iso_code {
  width: 30px; }
#nlingual_languages .nl-lang-short_name {
  width: 100px; }
#nlingual_languages .nl-lang-locale_name {
  width: 60px; }
#nlingual_languages .nl-lang-active {
  width: 60px; }
#nlingual_languages .nl-lang-action {
  width: 60px; }
