@import 'compass/utilities/general/clearfix';

.fixed .column-nlingual {
	width: 15%;

	ul {
		margin: 5px 0 0;
	}
		li {
			margin: 0 0 3px;
		}
}

.nl-heading {
	font-size: 1em;
	margin: 1em 0 .5em;
}

.nl-field {
	label {
		@include pie-clearfix;
		display: block;
		padding: 3px 0;
		margin: 0 0 5px;
	}
		.button {
			float: right;
			margin: -3px 0;
		}
	select {
		clear: both;
		display: block;
		width: 100%;
	}
}

.nl-language-field {
	label {
		font-weight: bold;
	}
}

.nl-translation-field {
	margin: 10px 0 5px;
}

.nl-settings-field {
	h4 {
		color: #666;
		margin: 5px 0 .5em;
	}
}

.nl-section-content {
	h4 {
		padding-top: 15px;

		input[type="checkbox"] {
			margin-left: .5em;
			opacity: .25;
			-webkit-transition: opacity .2s;
			transition: opacity .2s;
		}

		&:hover input[type="checkbox"] {
			opacity: 1;
		}
	}
}

#nlingual-sync-form {
	.nl-inputlist {
		@include pie-clearfix;

		label {
			margin-right: 1.5em !important;
		}

		br {
			display: none;
		}
	}
}